<div class="setup-container">
  <h2>Phòng chơi</h2>

  <label>
    Tên người chơi:
    <input [(ngModel)]="playerName" placeholder="Nhập tên..." />
  </label>

  <div class="actions">
    <button (click)="createRoom()">Tạo phòng</button>
  </div>

  <hr />

  <label>
    Nhập mã phòng để tham gia:
    <input [(ngModel)]="roomCode" placeholder="Mã phòng..." />
  </label>

  <button (click)="joinRoom()">Vào phòng</button>

  @if (roomCode) {
    <hr />
    <p><strong>Mã phòng:</strong> {{ roomCode }}</p>

    @if (players.length > 0) {
      <p><strong>Người chơi:</strong></p>
      <ul>
        @for (player of players; track player.uid) {
        <li>{{ player.name }}</li>
       }

      </ul>
    }

    @if (!canStart) {
      <p>Đang chờ người chơi khác...</p>
    } @else {
      <button (click)="startGame()">Bắt đầu</button>
    }
  }
</div>
